# For the web server
Flask==3.0.0

# For OCR
#google-cloud-vision==3.7.1
pillow==10.1.0
pytesseract==0.3.10
opencv-python-headless==4.9.0.80

# For Chatbot & Language Processing
google-cloud-texttospeech==2.16.1
gTTS==2.5.1
google-cloud-speech==2.24.0
google-cloud-translate==3.13.0
pydub==0.25.1

# Utilities
requests==2.32.3
fuzzywuzzy==0.18.0
python-Levenshtein==0.25.1

# --- For AI Brain (Cloud - Fast & Light) ---
google-generativeai==0.7.2

# --- For RAG (Local AI - Commented out to save resources) ---
# langchain==0.2.17
# langchain-community==0.2.18
# chromadb==0.5.4
# ollama==0.3.0
# langchain-text-splitters==0.2.2
# pypdf==4.3.1
